# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# Maven
**target

# VSCode
**.settings
**.factorypath
**.classpath
**.project
.vscode

# IntelliJ
.idea/
*.iws
*.iml
*.ipr

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
